.navbar{
    background-color: black;
    position: relative;
    padding: 1%;
    flex-direction: column;
    margin-inline: 2px;
}
.maincontent{
    background-color: aquamarine;
    position: relative;
    margin-left: 31%;
    margin-right: 20%;
    float: left;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.sidebar{
    background-color: aliceblue;
    padding: auto;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 70%;
}